{% extends 'base.html' %}
{% block title %}
  Seller Panel
{% endblock %}

{% block content %}
<div class ="d-flex justify-content-center align-items-center min-vh-100" >
<div style="max-width: 30%;">
<form method ="POST" action="">
  <h1 class="text-center">
    Enter Offer Details
  </h1>
    
    <div class="form-group" style="padding-top: 10px;">
      <input class="form-control" id="exampleInputEmail1" placeholder="Promo Code" name = "Promo_Code">
    </div>
    <div class="form-group" >
      <input class="form-control" id="exampleInputPassword1" placeholder="Percentage Discount" name="Percentage_Discount">
    </div>
    <div class="form-group" >
        <input class="form-control" id="exampleInputPassword1" placeholder="Min Order Value" name="Min_OrderValue">
      </div>

      <div class="form-group" >
        <input class="form-control" id="exampleInputPassword1" placeholder="Maximum Discount" name="Max_Discount">
      </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </form>
</div>
</div>
{% endblock %}

{% block navBar %}
<a class="btn btn-outline-success my-2 my-sm-0 text-light bg-dark" href="/admin/{{admin_id}}">Go Back</a>

{% endblock %}





