{% extends 'base.html' %}
{% block title %}
  Register Seller
{% endblock %}

{% block content %}
<div>
<form method ="POST" action="">
    <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name" name="First_Name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name" name="Last_Name">
        </div>
    </div>
    
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
      name = "Email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="examplee@123" name="Password">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Mobile Number</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="1234567891" name="Phone_Number">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">Place of Operation</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="City Name" name="Place_Of_Operation">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>






{% endblock %}
